<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather Tracker Azure</title>
  <link rel="stylesheet" href="/static/css/site.css" />
  <link rel="icon" href="data:,">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1>Weather Tracker</h1>
      <p class="subtitle">Building Cloud Native Apps with Azure, Containers , CI/CD and Monitoring</p>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
